header{
    background-image: url(img/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment:local;
    width: 100%;
    height: 102vh;

}
.Container{
    background-color:rgb(245, 245, 245);
    
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: relative;
    top: 3rem;
    height: 15vh;
    

}
.header-heading{
    margin-top:5rem;
    font-size: 50px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3rem;
}
.header-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3rem;
    line-height: 2;
    color: rgb(148, 148, 148);
    font-size: 17px;
}
.btn-danger{
    width: 12rem;
    height: 3rem;
    position: relative;
    left: 3rem;
}
.btn-info{
    width: 12rem;
    height: 3rem;
    position: relative;
    left: 3rem;
    background-color: aquamarine;
}
.btn-success{
    width: 12rem;
    height: 3rem;
    position: relative;
    left: 3rem;
}
.row{
    width: 96%;
}
.col{
    width: 32rem;
    height: 9rem;
    /* margin-top: -3rem; */
    position: relative;
    top: -4rem;
    margin-left: 4rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.col:hover{
    background-color: rgb(255, 0, 119);
    color: white;
}

.header-box1-head{
    font-size: 20px;
    font-weight: bold;
    margin-left: 6rem;
    margin-top: -2rem;
    
}
.header-box1-text{
    margin-left: 6rem;
    margin-top: 7px;
    width: 10rem;
    
}

.fa-solid{
    font-size: 25px;
    position: relative;
    top:1rem;
    left:1rem;
}
.icon{
    width:20%;
    height: 11vh;
    border-radius: 30px;
    background: #f8f8f8;
    position: relative;
    top: 2rem;
    left: 2rem;
}
.box2{  
}
.box2-img{
    background-image: url(img/about.jpg);
    background-size: cover;
    width:28rem;
    height: 130vh;
    margin-left: 4rem;
    margin-top: 5rem;
    margin-bottom: -2rem;

}
.box2-heading1{
    position: relative;
    left: 35rem;
    top:-40rem;
    color: rgb(255, 0, 119);
    font-weight: bold;
    font-size: 13px;
}
.box2-heading2{
    position: relative;
    left: 35rem;
    top:-38rem;
    font-size: 40px;
    font-weight: bold;
}
.box2-text{
    position: relative;
    left: 35rem;
    top:-35rem;
    width: 40rem;
    font-size: large;
    line-height: 2;
    color:gray;
}
.icon-sqaure{
    width:3rem;
    height: 8vh;
    border-radius:5px;
    background: #ff0151de;
    margin-top: 1rem;
    position: relative;
    top: -35rem;
    left: 35rem;

}
.fa-stethoscope{
    font-size: 20px;
    margin-left: -5px;

    
}
.icon-text-box2{
    font-weight: bold;
    width: 20rem;
    font-size: 17px;
    margin-left: 5rem;
    margin-top: -1rem;
}
.box3{
    background-color: white;
    width: 100%;
    height: 50vh;
    margin-top: -31rem;
}
.box3-heading{
    color: rgb(255, 0, 98);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 3rem;
}
.input-col1{
    margin-left: 2rem;
    margin-top: 2rem;

}
.first,.last,.choose,.phone{
    border: 1px solid rgba(171, 171, 171, 0.791);
    padding: 15PX;
    width: 15rem;
    margin-left: 2rem;
}
.input-col2{
    margin-left: 3rem;
    margin-top: 1rem;

}
.date,.time,.Message,.Appointment-btn{
    border: 1px solid rgba(171, 171, 171, 0.791);
    padding: 15PX;
    width: 15rem;
    margin-left: 2rem;
}
.btn-success{
    height:57px;
    width: 15rem;
    margin-left: -1rem;
}
.box4{
    height: 130vh;
    text-align: center;

}
.box4-heading1{
    color: rgb(255, 0, 98);
    font-weight:600;
    font-size: 15px;
    padding-top: 8rem;
}
.box4-heading2{
    font-size:40px;
    font-weight:bold;
}
.box4-card1{
   
    margin-top: 13rem;
    /* margin-left : 5rem; */
    width: 17rem;
    height: 50vh;
    background-color: white;
    display: inline-block;
}
.box4-card1:hover{
    background-color:rgba(116, 206, 37, 0.909);
    color: white;

}
.box4-card1-img{
    border-radius: 180px;
    border: 10px solid rgb(245, 245, 245) ;
    position: relative;
    top: -5rem;
}
.box4-card1-heading1{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -4rem;

}
.box4-card1-text1{
    color: rgb(255, 0, 98);
    font-weight: 600;
    position: relative;
    top: -4rem;
}

.box4-card2{
    /* margin-top: 5rem; */
    margin-left: 1rem;
    width: 17rem;
    height: 50vh;
    background-color: white;
    display: inline-block;
}
.box4-card2:hover{
    background-color:rgba(116, 206, 37, 0.909);
    color: white;
}
.box4-card1-heading2{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -4rem;

}
.box4-card1-text2{
    color: rgb(255, 0, 98);
    font-weight: 600;
    position: relative;
    top: -4rem;
}
.box4-card1-img2{
    border-radius: 180px;
    border: 10px solid rgb(245, 245, 245) ;
    position: relative;
    top: -5rem;
}
.box4-card3{
    /* margin-top: 5rem; */
    margin-left: 1rem;
    width: 17rem;
    height: 50vh;
    background-color: white;
    display: inline-block;
}
.box4-card3:hover{
    background-color:rgba(116, 206, 37, 0.909);
    color: white;
}
.box4-card1-heading3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -4rem;

}

.box4-card1-text3{
    color: rgb(255, 0, 98);
    font-weight: 600;
    position: relative;
    top: -4rem;
}
.box4-card1-img3{
    border-radius: 180px;
    border: 10px solid rgb(245, 245, 245) ;
    position: relative;
    top: -5rem;
}
.box4-card4{
    /* margin-top: 5rem; */
       margin-left: 1rem;
    width: 17rem;
    height: 50vh;
    background-color: white;
    display: inline-block;
}
.box4-card4:hover{
    background-color:rgba(116, 206, 37, 0.909);
    color: white;
    
}
.box4-card1-heading4{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -4rem;

}
.box4-card1-text4{
    color: rgb(255, 0, 98);
    font-weight: 600;
    position: relative;
    top: -4rem;
}
.box4-card1-img4{
    border-radius: 180px;
    border: 10px solid rgb(245, 245, 245) ;
    position: relative;
    top: -5rem;
}
.fa-brands{
    font-size: 32px;
    margin-left: 5px;
    position: relative;
    top: -4rem;
}
.box5{
    margin-top: 5rem;
    background-image: url(img/bg_3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
    
}
.box5-heading{
    font-weight: 700;
    font-size: small;
    text-align: center;
    padding-top: 5rem;
}
.box5-heading2{
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    
}
.box5-card1{
    width: 21rem;
    height: 45vh;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 3rem;
}
.box5-card2{
    width: 21rem;
    height: 45vh;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    margin-left: 2rem;
}
.box5-card3{
    width: 21rem;
    height: 45vh;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    margin-left: 2rem;
}
